.container-center {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #121212;
}
.login {
  background: #eaeaea;
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.login-area {
  display: flex;
  justify-content: center;
  background-color: #181c2e;
  width: 100%;
}

.login-area img {
  padding: 20px;
  width: 170px;
  height: 130px;
}
form {
  margin-top: 30px;
  width: 90%;
  display: flex;
  flex-direction: column;
}

form h1 {
  margin-bottom: 16px;
  text-align: center;
  color: #181c2e;
}

.login input {
  margin-bottom: 10px;
  height: 35px;
  border: 0;
  border-radius: 7px;
  padding: 10px;
  font-size: 15px;
  background-color: #fff;
}

form button {
  height: 35px;
  border: 0;
  border-radius: 7px;
  background-color: #181c2e;
  color: #fff;
  font-size: 15px;
}

.login a {
  margin: 20px 0;
  color: #181c2e;
  cursor: pointer;
}
